/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-page: url('../images/cover-image-dark.png');
  --header-min-height: 668px;
  --accent-color: #FF0070;
  --main-font-size: 18px;
  --main-line-height: 23.4px;
  --font-family-mono: 'IBM Plex mono', sans-serif;
}
